<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Auto tagging</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.04em;
  </style>
</head>
<body class="bg-dark p-5">
  <div>
    <div>
      <div class="card w-100">
        <div class="card-header">
          Create a new story
        </div>
        <div class="card-body">
          <form action="/save" method="post">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" type="text" name="title">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Intro</label>
              <textarea class="form-control" rows="3" name="intro"></textarea>
            </div>
            <div class="form-group">
              <label>Body</label>
              <textarea class="form-control" rows="40" name="body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/0d98899145.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>